.header {
    /* background-color: #333; */
    color: #fff;
    padding: 1rem;
    text-align: center;
  }

  .company-name{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #6d9122;
    font-weight: 900;
  }